<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        
        <!-- Font Awesome Icon -->
        <link type="text/css" rel="stylesheet" href="/static/font-awesome/css/all.min.css">

        <!-- Custom styles -->
        <link type="text/css" rel="stylesheet" href="/static/css/custom.css">

        <title>YouTube to MP3</title>
    </head>
    <body>
        

        <!-- Notifications Box -->
        <div aria-live="polite" aria-atomic="true" style="margin: 5px; position: relative; min-height: 200px;">
            <div style="position: absolute; top: 0; right: 0;" id="notifications-box">
                <!-- toasts go here -->
            </div>
        </div>

        <!-- div main-container -->
        <div id="main-container" style="margin: auto; margin-top: -5%; padding: 5px; max-width: 700px;">

            <!-- if javascript is not enabled, show the user a message -->
            <noscript>
                <div class="alert alert-danger">
                    JavaScript is not enabled, and this site heavily depends on it. You should enable JavaScript, otherwise good luck :)
                </div>
                <br>
            </noscript>

            <!-- nav bar -->
            <h1 style="text-align: center;">YouTube to MP3</h1>
            <hr>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/discord">discord</a>
                </li>
            </ul>
            <hr style="width: 10%;">
            
            