<%- include('partials/header.ejs') %>

<p>
    Made by Stam in <a href="https://nodejs.org" target="_blank">node.js</a>.
    <hr>
    <small class="font-italic text-muted">
        YouTube to MP3 has been tested and works perfectly on the latest versions of
        <a href="https://www.google.com/chrome" target="_blank">Google Chrome</a> and
        <a href="https://www.mozilla.org/firefox" target="_blank">Mozilla Firefox</a>.
    </small>
</p>

<p>
    <b>Bookmark:</b>
    <p>
        Drag this button to your bookmarks. Click the bookmarklet each time you want to convert the video you are currently watching.
    <p>
    <center>
        <a href='javascript:(function(){if (location.host == "www.youtube.com" && location.search.indexOf("v=") != -1){open("http://node-ytdl.herokuapp.com/?url=" + window.location.href);}else if (location.host == "www.youtube.com" && location.pathname.indexOf("/embed/") != -1){open("http://node-ytdl.herokuapp.com/?url=" + window.location.href);}else{alert("To use this bookmarklet, click it while watching a YouTube video in your web browser.");}})()'
            class="btn"
            style="color: #28a745; border-color: #28a745;">
            <img src="/static/img/bookmark.png" height="52px" width="52px" alt="YouTube > MP3">
        </a>
    </center>
</p>

<p>
    <b>Privacy:</b>
    <br>
    <code>
        <ul>
            <li>We do not keep a single piece of information of our visitors.</li>
            <li>We don't even run a database.</li>
            <li>
                We use cookies for the following reasons:
                <ol>
                    <li>socket.io notification system</li>
                    <li>darkmode toggle preference</li>
                    <li>to store your MP3 quality preference so you don't have to choose each time</li>
                </ol>
            </li>
        </ul>
        <center><span class="text-muted">That's all :)</span></center>
    </code>
</p>

<p>
    <b>Libraries used:</b>
    <br>
    <ul>
        <li><a href="https://github.com/fent/node-ytdl-core" target="_blank">ytdl-core</a></li>
        <li><a href="https://www.ffmpeg.org/" target="_blank">ffmpeg</a></li>
    </ul>
</p>

<%- include('partials/footer.ejs') %>