<%- include('partials/header') %>

<p>
<div class="alert alert-warning">
  The Discord Bot is not finished yet.
</div>
</p>

<p>
<div class="alert alert-info">
  <% /* To invite our discord bot to your server, <a
    href="https://discordapp.com/api/oauth2/authorize?client_id=684744096937410615&permissions=8&scope=bot"
    target="_blank">click here</a>.*/%>


    To invite our discord bot to your server, <a href="#" onclick="javascript:alert('Not finished yet.');">click
      here</a>.
</div>
</p>

<p>
  Commands
  <br>

  <code>

    ++play <i class="text-muted">[url]</i><br>
    <small class="text-muted">Will join the voice channel you're currently connected into, and will play some music.</small>
    <hr>

    ++download <i class="text-muted">[url]</i><br>
    <small class="text-muted">Will reply to you with a download link.</small>

  </code>
</p>

<%- include('partials/footer') %>